@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'media';

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  position: relative;

  &.overflow {
    height: 100%;
    overflow-y: hidden;
  }
}

.page {
  height: var(--vh);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-style: normal;
  font-size: clamp(18px, 1.2vw, 24px);
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: var(--color-black);
  font-optical-sizing: auto;
  background-color: var(--color-white);

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--content-offset);
}

.main {
  padding-top: var(--header-height);
}

.link {
  position: relative;
  z-index: 0;
  background-color: transparent;

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: -4px;
    bottom: -4px;
    left: -6px;
    right: -6px;
    background-color: transparent;
    transform: rotate(-2deg);
    transition: background-color 0.4s ease-in-out;
  }

  &:hover::before {
    background-color: var(--color-orange-300);
  }
}

.burger {
  position: relative;
  display: none;
  width: 32px;
  height: 26px;
  padding: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
  border: none;

  span,
  &::before,
  &::after {
    display: block;
    height: 3px;
    background-color: var(--color-black);
    border-radius: var(--radius-small);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }

  span {
    transition: background-color 0.4s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger.open {
  span {
    background-color: transparent;
  }

  &::before {
    transform: rotate(35deg) translate(5px, 9px);
  }

  &::after {
    transform: rotate(-35deg) translate(6px, -11px);
  }
}

.title {
  font-size: clamp(26px, 2.7vw, 38px);

  &--centered {
    text-align: center;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.accent {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: var(--color-white);

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 94%;
    transform: translateX(-50%);
    background-color: var(--color-orange-500);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--black {
    color: var(--color-black);
  }

  &--wide {
    padding: 7px 10px;

    &::before {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      bottom: 0;
      width: 100%;
    }
  }
}

.btn {
  display: inline-block;
  padding: clamp(16px, 3vw, 26px) clamp(30px, 6vw, 76px);
  font-size: clamp(20px, 2vw, 28px);
  letter-spacing: 0.02rem;
  font-weight: var(--fw-medium);
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-orange-500);
  border: 2px solid transparent;
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-orange);
  cursor: pointer;
  transition: 0.3s ease-in-out, background-color 0.3s ease-out, transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

  &:hover {
    transform: scale(1.03);
    background-color: var(--color-dark);
    border: 2px solid var(--color-gray);
    box-shadow: var(--shadow-gray-bottom);
  }
}

.overlay {
  position: fixed;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out,
    filter 0.4s ease-in;

  &.active {
    background-color: var(--color-black-25);
    backdrop-filter: blur(2px);
    z-index: 1;
    pointer-events: all;
  }
}

@include media(tablet, max) {
  .page {
    line-height: 1.5;
    letter-spacing: 0;
  }

  .burger {
    display: block;
  }

  .title {
    letter-spacing: 0;
  }

  .accent {
    &::before {
      top: 6px;
      width: 88%;
    }
  }
}

@include media(mobile-s, max) {
  .title {
    text-align: center;
  }

  .btn {
    width: 100%;
  }
}