// mixins for fonts
@mixin font-woff($font-family, $url, $weight, $style: normal) {
  @font-face {
    src: url("#{$url}.woff2") format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
  }
}

// flexbox mixins
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

//grid mixins 
@mixin grid-repeat($col-num: 1, $col-size: auto, $row-num: 1, $row-size: auto) {
  display: grid;

  @if $col-num !=null and $col-num !=1 {
    grid-template-columns: repeat(#{$col-num}, #{$col-size});
  } @else if $col-num ==1 {
    grid-template-columns: #{$col-size};
  }

  @if $row-num !=null and $row-num !=1 {
    grid-template-rows: repeat(#{$row-num}, #{$row-size});
  } @else if $row-num ==1 {
    grid-template-rows: #{$row-size};
  }
}