// mixins for fonts
@mixin font-woff($font-family, $url, $weight, $style: normal) {
  @font-face {
    src: url("#{$url}.woff2") format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
  }
}

// flexbox mixins
@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}