@import 'reset';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';
@import 'media';

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: clamp(16px, 2.2vw, 30px) 0 clamp(16px, 2.2vw, 26px);
  background-color: var(--color-white);
  transition: transform 0.3s ease-out;
  border-bottom: 4px solid transparent;

  &.hide {
    transform: translateY(-100%);
  }

  &.scroll {
    border-bottom: 4px solid var(--color-orange-500);
  }

  .logo {
    transition: transform 0.4s ease-in-out;

    &:hover {
      position: relative;
      transform: scale(1.03);
    }

    &__img {
      height: auto;
    }
  }
}

.nav {
  @include flex-center-sb;
  gap: clamp(16px, 6vw, 80px);

  &__inner,
  &__menu {
    @include flex-center-sb;
  }

  &__inner {
    gap: clamp(16px, 6vw, 80px);
    max-width: 840px;
    width: 100%;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: clamp(16px, 1.6rem, 30px);
    }

    a {
      font-weight: var(--fw-medium);
    }
  }

  &__link {
    font-size: clamp(18px, 1.5vw, 21px);
    color: var(--color-black);
    line-height: 1;
    white-space: nowrap;
  }
}

.main {
  min-height: 500vh;
}

.hero {
  position: relative;
  padding: clamp(40px, 8.5vw, 122px) 0 16px;

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-blue);
    clip-path: var(--figure-hero);
    overflow-x: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: -40%;
      right: -40%;
      height: 44px;
      transform: rotate(-12deg);
      background-color: var(--color-blue);
      box-shadow: var(--shadow-gray);
    }

    &::before {
      bottom: 31%;
    }

    &::after {
      bottom: 25%;
    }
  }

  &__inner {
    @include flex-between;
  }

  &__img {
    align-self: flex-end;
    padding-top: clamp(40px, 7vw, 94px);
  }

  .title {
    margin-bottom: clamp(30px, 4.5vw, 60px);
  }
}

@include media(tablet-l, max) {
  .hero {
    &__img {
      width: 36%;
    }
  }
}

@include media(tablet, max) {
  .header {
    &.hide {
      transform: translateY(0);
    }

    &.scroll {
      border-bottom: 0px solid transparent;
    }
  }

  .logo {
    width: 25%;
  }

  .nav {
    &__inner,
    &__menu {
      display: block;
    }

    &__inner {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      height: var(--vh);
      width: 40%;
      padding: var(--content-offset) var(--content-offset) 0;
      background-color: var(--color-white);
      transform: translateY(-120%);
      pointer-events: none;
      opacity: 0;
      z-index: -100;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

      &.open {
        transform: translateY(0);
        pointer-events: all;
        opacity: 1;
        z-index: 10;
      }
    }

    &__item {
      margin-bottom: clamp(16px, 1.2vh, 30px);

      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }
}

@include media(mobile-l, max) {
  .hero {
    &__background {
      bottom: 20%;
    }

    &__inner {
      flex-direction: column;
    }

    &__img {
      width: 50%;
      padding-top: 0;
      transform: translateY(-20%);
    }
  }
}

@include media(mobile-m, max) {
  .header {
    .logo {
      width: 40%;
    }
  }

  .nav {
    &__inner {
      width: 60%;
    }
  }
}

@include media(mobile-s, max) {
  .nav {
    &__inner {
      width: 100%;
      text-align: right;
      padding-right: 40px;
      border-top: 3px solid transparent;

      &.open {
        border-top: 3px solid var(--color-orange-500)
      }
    }
  }

  .hero {
    &__inner {
      align-items: center;
    }

    &__info {
      margin-bottom: 40px;
    }

    &__img {
      transform: translateY(0);
      width: 100%;
    }
  }
}