.DS_Store
.idea
.idea/*
.vscode
*.sublime*
npm-debug.*

node_modules/

app/css/*

app/fonts/**/*.*
!app/fonts/**/*.woff2

app/images/src/*.*
app/images/optimized/*.*
app/images/webp/*.*

app/js/**/*.min.js
